* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    background-color: #0d0d0d;
    color: #ffffff;
  }
  
  .container {
    padding: 40px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #f94f6d;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #f94f6d;
  }
  
  .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
  }
  
  .text-content {
    max-width: 50%;
  }
  
  .text-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .text-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .text-content button {
    background-color: #d21437;
    color: #585858;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .text-content button:hover {
    background-color: #d93d59;
  }
  
  .profile-image img {
    max-width: 350px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  }
/* Project Section */
.projects {
  margin-top: 100px;
  text-align: center;
}

.projects h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #f94f6d;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background-color: #000000;
  border-radius: 15px;
  padding: 30px 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(249, 79, 109, 0.5);
}

.project-card h3 {
  color: #b6b0b0;
  font-size: 22px;
  margin-bottom: 10px;
}

.project-card img  {
  width: 20; height: 50;
  color: #acacac;
  font-size: 16px;
  line-height: 1.6;
}
  